* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

/* 整体样式 */
body {
  display: flex;
  background-color: #161626;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body.mark {
  overflow: hidden;
}

.ability {
  display: none;
  width: 90%;
}

/* 标题样式 */
.title {
  width: 12.5rem;
  color: #fff;
  text-shadow: .3125rem .3125rem .3125rem rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 1.25rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* 按钮 */
button.disabled {
  cursor: not-allowed;
}

button {
  margin: 0;
  padding: 0;
  border: .0625rem solid transparent;
  cursor: pointer;
  outline: none;
}

/* 加载动画 */
.loading-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-align: center;
  transition: 0.5s;
}

.loading-container.active {
  opacity: 1;
}

.loading-container .text {
  color: red;
  margin-top: .625rem;
  font-weight: 500;
}

.loading {
  position: relative;
  width: 30px;
  height: 30px;
  border: 2px solid red;
  border-top-color: rgba(255, 0, 0, 0.2);
  border-right-color: rgba(255, 0, 0, 0.2);
  border-bottom-color: rgba(255, 0, 0, 0.2);
  border-radius: 100%;
  margin: auto;

  animation: circle infinite 0.75s linear;
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* 提示框 */
.tip {
  position: fixed;
  right: -12.5rem;
  top: 3.125rem;
  box-sizing: border-box;
  width: 12.5rem;
  padding: 1.25rem;
  background-color: rgba(42, 40, 40);
  border-radius: 5px;
  color: rgb(240, 86, 86);
  transition: 0.6s;
  font-style: italic;
}

.tip.active {
  right: .625rem;
}